/* Default */

html {
    min-height: 100%;
    position: relative;
}

body {
	height: 100%;
	margin: 0;
}

/* Core */

.text-center {
	text-align: center;
}

.thin {
	margin: 0;
	padding: 0;
}

/* Tables */

td {
    background: #fafafa;
}
.responsive-table {
    width: 100%;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;
}
.responsive-table thead {
    background: #fafafa;
}
.responsive-table tr {
    padding: 5px;
    margin-bottom: 10px;
    display: block;
}
.responsive-table th,
.responsive-table td {
    padding: 10px;
}
.responsive-table td[colspan] {
	text-align: center;
	justify-content: center;
}
.responsive-table th {
    font-size: 11px;
}
.responsive-table td {
	display: flex;
	justify-content: space-between;
    font-size: 13px;
    border-left: 1px solid #36363b;
    border-right: 1px solid #36363b;
    border-bottom: 1px solid #36363b;
}
.responsive-table td:first-child {
    border-top: 1px solid #36363b;
}
.responsive-table td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
	width: 44%;
	text-align: left;
}
.responsive-table td[colspan]:before {
    content: none;
}
.responsive-table thead > tr td ~ td {
	display: none;
}
.responsive-table.hide-all thead > tr td {
	display: none;
}
.responsive-table tr {
	border: none;
}
.responsive-table td ~ td {
	text-align: right;
}
.responsive-table.hide-all td {
	text-align: left;
}
@media screen and (min-width: 600px) {
	.responsive-table thead > tr td ~ td {
		display: table-cell;
    }
    .responsive-table.hide-all thead > tr td {
		display: table-cell;
    }
	.responsive-table tr {
		border: 1px solid #36363b;
    	border-bottom: 2px solid #36363b;
	}
	.responsive-table td ~ td {
		text-align: left;
	}
	.responsive-table.hide-all td {
		text-align: left;
	}
    .responsive-table thead {
        visibility: visible;
		font-weight: bold;
    }
    .responsive-table tr {
        display: table-row;
        border-bottom-width: 1px;
        margin-bottom: 0;
    }
    .responsive-table td {
        display: table-cell;
        font-size: 14px;
		border-bottom: none;
    }
    .responsive-table td:before {
        content: "";
        display: none;
    }
}